<h2>Show showing</h2>

<ul>

  <li>
    <strong>Start at:</strong>
    <%= @showing.start_at %>
  </li>

  <li>
    <strong>Theater:</strong>
    <%= @showing.theater.name %>
  </li>

  <li>
    <strong>Movie:</strong>
    <%=if @showing.movie do %>
      <%= @showing.movie.name %>
    <%=end%>
  </li>

</ul>

<%= link "Edit", to: showing_path(@conn, :edit, @showing) %>
<%= link "Back", to: showing_path(@conn, :index) %>
